<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head.html :: head" th:with="title='User List'"></head>
<body>
<div class="bg-white">
  <header
      class="absolute inset-x-0 top-0 z-50"
      th:insert="nav.html :: nav('feature5')"
  ></header>
<!--  Section Admin-->
  <section class="container p-20 mt-16">
    <h2 class="text-2xl font-semibold mb-4">Admin List</h2>
    <div th:if="${not #lists.isEmpty(listAdmin)}">
      <table class="border-collapse table-fixed w-full text-sm">
        <thead>
        <tr>
          <th
              class="border-b border-gray-300 font-medium p-4 pl-8 pt-0 pb-3 text-gray-600 text-left"
          >
            Username
          </th>
          <th
              class="border-b border-gray-300 font-medium p-4 pt-0 pb-3 text-gray-600 text-left"
          >
            Name
          </th>
          <th
              class="border-b border-gray-300 font-medium p-4 pr-8 pt-0 pb-3 text-gray-600 text-left"
          >
            Role
          </th>
          <th
              class="border-b border-gray-300 font-medium p-4 pr-8 pt-0 pb-3 text-gray-600 text-left"
          >
            Tanggal Daftar
          </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="admin: ${listAdmin}">
          <td
              class="border-b border-gray-300 p-4 pl-8 text-gray-800"
              th:text="${admin.username}"
          ></td>
          <td
              class="border-b border-gray-300 p-4 text-gray-800"
              th:text="${admin.name}"
          ></td>
          <td
              class="border-b border-gray-300 p-4 text-gray-800 capitalize"
              th:text="${admin.role}"
          ></td>
          <td
              class="border-b border-gray-300 p-4 pr-8 text-gray-800"
              th:text="${#temporals.format(admin.created_at_timestamp, 'dd MMMM yyyy')}"
          ></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div th:if="${#lists.isEmpty(listAdmin)}" class="text-center mt-8">
      <img
          src="https://cdn3d.iconscout.com/3d/premium/thumb/empty-box-7860352-6318310.png?f=webp"
          alt="Empty State"
          class="mx-auto w-40 h-40"
      />
      <p class="text-gray-500 mt-4">No Admin to display</p>
    </div>
    <!-- FAB to Add User -->
    <a href="/user/add" class="fixed bottom-8 right-8">
      <button
          class="text-white bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-12 h-12 flex items-center justify-center shadow-lg"
      >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
          <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v6m0 0v6m0-6h6m-6 0H6"
          />
        </svg>
      </button>
    </a>
    <!--  Section Apoteker-->

  </section>
  <section class="container p-20 mt-16">
    <h2 class="text-2xl font-semibold mb-4">Apoteker List</h2>
    <div th:if="${not #lists.isEmpty(listApoteker)}">
      <table class="border-collapse table-fixed w-full text-sm">
        <thead>
        <tr>
          <th
              class="border-b border-gray-300 font-medium p-4 pl-8 pt-0 pb-3 text-gray-600 text-left"
          >
            Username
          </th>
          <th
              class="border-b border-gray-300 font-medium p-4 pt-0 pb-3 text-gray-600 text-left"
          >
            Name
          </th>
          <th
              class="border-b border-gray-300 font-medium p-4 pr-8 pt-0 pb-3 text-gray-600 text-left"
          >
            Role
          </th>
          <th
              class="border-b border-gray-300 font-medium p-4 pr-8 pt-0 pb-3 text-gray-600 text-left"
          >
            Tanggal Daftar
          </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="apoteker: ${listApoteker}">
          <td
              class="border-b border-gray-300 p-4 pl-8 text-gray-800"
              th:text="${apoteker.username}"
          ></td>
          <td
              class="border-b border-gray-300 p-4 text-gray-800"
              th:text="${apoteker.name}"
          ></td>
          <td
              class="border-b border-gray-300 p-4 text-gray-800 capitalize"
              th:text="${apoteker.role}"
          ></td>
          <td
              class="border-b border-gray-300 p-4 pr-8 text-gray-800"
              th:text="${#temporals.format(apoteker.created_at_timestamp, 'dd MMMM yyyy')}"
          ></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div th:if="${#lists.isEmpty(listApoteker)}" class="text-center mt-8">
      <img
          src="https://cdn3d.iconscout.com/3d/premium/thumb/empty-box-7860352-6318310.png?f=webp"
          alt="Empty State"
          class="mx-auto w-40 h-40"
      />
      <p class="text-gray-500 mt-4">No Apoteker to display</p>
    </div>
    <!-- FAB to Add User -->
    <a href="/user/add" class="fixed bottom-8 right-8">
      <button
          class="text-white bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-12 h-12 flex items-center justify-center shadow-lg"
      >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
          <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v6m0 0v6m0-6h6m-6 0H6"
          />
        </svg>
      </button>
    </a>
  </section>
<!--  Dokter section -->
  <section class="container p-20 mt-16">
    <h2 class="text-2xl font-semibold mb-4">Dokter List</h2>
    <div th:if="${not #lists.isEmpty(listDokter)}">
      <table class="border-collapse table-fixed w-full text-sm">
        <thead>
        <tr>
          <th
              class="border-b border-gray-300 font-medium p-4 pl-8 pt-0 pb-3 text-gray-600 text-left"
          >
            Username
          </th>
          <th
              class="border-b border-gray-300 font-medium p-4 pt-0 pb-3 text-gray-600 text-left"
          >
            Name
          </th>
          <th
              class="border-b border-gray-300 font-medium p-4 pr-8 pt-0 pb-3 text-gray-600 text-left"
          >
            Role
          </th>
          <th
              class="border-b border-gray-300 font-medium p-4 pr-8 pt-0 pb-3 text-gray-600 text-left"
          >
            Tanggal Daftar
          </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dokter: ${listDokter}">
          <td
              class="border-b border-gray-300 p-4 pl-8 text-gray-800"
              th:text="${dokter.username}"
          ></td>
          <td
              class="border-b border-gray-300 p-4 text-gray-800"
              th:text="${dokter.name}"
          ></td>
          <td
              class="border-b border-gray-300 p-4 text-gray-800 capitalize"
              th:text="${dokter.role}"
          ></td>
          <td
              class="border-b border-gray-300 p-4 pr-8 text-gray-800"
              th:text="${#temporals.format(dokter.created_at_timestamp, 'dd MMMM yyyy')}"
          ></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div th:if="${#lists.isEmpty(listDokter)}" class="text-center mt-8">
      <img
          src="https://cdn3d.iconscout.com/3d/premium/thumb/empty-box-7860352-6318310.png?f=webp"
          alt="Empty State"
          class="mx-auto w-40 h-40"
      />
      <p class="text-gray-500 mt-4">No Dokter to display</p>
    </div>
    <!-- FAB to Add User -->
    <a href="/user/add" class="fixed bottom-8 right-8">
      <button
          class="text-white bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-12 h-12 flex items-center justify-center shadow-lg"
      >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
          <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v6m0 0v6m0-6h6m-6 0H6"
          />
        </svg>
      </button>
    </a>
  </section>
  <section class="container p-20 mt-16">
    <h2 class="text-2xl font-semibold mb-4">Manager List</h2>
    <div th:if="${not #lists.isEmpty(listManager)}">
      <table class="border-collapse table-fixed w-full text-sm">
        <thead>
        <tr>
          <th
              class="border-b border-gray-300 font-medium p-4 pl-8 pt-0 pb-3 text-gray-600 text-left"
          >
            Username
          </th>
          <th
              class="border-b border-gray-300 font-medium p-4 pt-0 pb-3 text-gray-600 text-left"
          >
            Name
          </th>
          <th
              class="border-b border-gray-300 font-medium p-4 pr-8 pt-0 pb-3 text-gray-600 text-left"
          >
            Role
          </th>
          <th
              class="border-b border-gray-300 font-medium p-4 pr-8 pt-0 pb-3 text-gray-600 text-left"
          >
            Tanggal Daftar
          </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="manager: ${listManager}">
          <td
              class="border-b border-gray-300 p-4 pl-8 text-gray-800"
              th:text="${manager.username}"
          ></td>
          <td
              class="border-b border-gray-300 p-4 text-gray-800"
              th:text="${manager.name}"
          ></td>
          <td
              class="border-b border-gray-300 p-4 text-gray-800 capitalize"
              th:text="${manager.role}"
          ></td>
          <td
              class="border-b border-gray-300 p-4 pr-8 text-gray-800"
              th:text="${#temporals.format(manager.created_at_timestamp, 'dd MMMM yyyy')}"
          ></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div th:if="${#lists.isEmpty(listManager)}" class="text-center mt-8">
      <img
          src="https://cdn3d.iconscout.com/3d/premium/thumb/empty-box-7860352-6318310.png?f=webp"
          alt="Empty State"
          class="mx-auto w-40 h-40"
      />
      <p class="text-gray-500 mt-4">No Manager to display</p>
    </div>
    <!-- FAB to Add User -->
    <a href="/user/add" class="fixed bottom-8 right-8">
      <button
          class="text-white bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-12 h-12 flex items-center justify-center shadow-lg"
      >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
          <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v6m0 0v6m0-6h6m-6 0H6"
          />
        </svg>
      </button>
    </a>
  </section>
  <div
      class="absolute top-0 left-0 w-[90%] isolate pt-14 px-8 pointer-events-none"
  >
    <div
        class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
        aria-hidden="true"
    >
      <div
          class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
          style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
      ></div>
    </div>
    <div
        class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
        aria-hidden="true"
    >
      <div
          class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
          style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
      ></div>
    </div>
  </div>
</div>
</body>
</html>
