<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head.html :: head">
    <title>Laporan Kadaluwarsa Obat / Alkes</title>
</head>
<body>
<div class="bg-white">
    <header class="absolute inset-x-0 top-0 z-50" th:insert="nav.html :: nav('laporan')"></header>
    <section class="container max-w-2xl p-20 mt-16">
        <a href="/laporan/">
            <button
                    class="border border-gray-200 bg-gray-100 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-8 h-8 flex items-center justify-center shadow-lg"
            >
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                >
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M10 19l-7-7m0 0l7-7m-7 7h18"
                    />
                </svg>
            </button>
        </a><h2 class="text-2xl font-semibold mb-4">Laporan Kadaluwarsa Obat / Alkes</h2>
        <div class="flex space-x-4 mb-4">
            <button id="tableTab" class="tab-button active">Table</button>
            <button id="chartTab" class="tab-button">Chart</button>
        </div>
        <p class="mb-4">Tahun Range: <span th:text="${tahunAwal}"></span> - <span th:text="${tahunAkhir}"></span></p>
        <div id="tableContent">
            <table class="w-full border border-gray-300">
                <thead>
                <tr class="bg-gray-100">
                    <th class="border border-gray-300 px-4 py-2">Tahun</th>
                    <th class="border border-gray-300 px-4 py-2">Jumlah Obat Kadaluwarsa</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="laporan : ${laporanKadaluwarsa}">
                    <td class="border border-gray-300 px-4 py-2 text-center" th:text="${laporan.tahun}"></td>
                    <td class="border border-gray-300 px-4 py-2 text-center" th:text="${laporan.jumlahKadaluwarsa}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="chartContent" style="display: none;">
            <h2 class="text-2xl font-semibold mb-4">Bar Chart</h2>
            <div class="chart-container" style="position: relative; height:40vh; width:80vw;">
                <canvas id="barChartCanvas"></canvas>
            </div>
        </div>
    </section>
    <div class="absolute top-0 left-0 w-[90%] isolate pt-14 px-8 pointer-events-none">
         <div
                class="absolute top-0 left-0 w-[90%] isolate pt-14 px-8 pointer-events-none">
            <div
                    class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
                    aria-hidden="true">
                <div
                        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                        style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            ">
                </div>
            </div>
            <div
                    class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
                    aria-hidden="true">
                <div
                        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                        style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            ">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.js"></script>
<script th:inline="javascript">
    const laporanData = [];
    const tahunAwal = "";
    const tahunAkhir = "";
    // Buat array tahun-tahun dalam rentang
    const tahunRange = Array.from({ length: tahunAkhir - tahunAwal + 1 }, (_, i) => tahunAwal + i);

    // Buat objek untuk menyimpan jumlah kadaluwarsa berdasarkan tahun
    const jumlahKadaluwarsaByYear = {};
    laporanData.forEach(item => {
        jumlahKadaluwarsaByYear[item.tahun] = item.jumlahKadaluwarsa;
    });

    // Buat array data untuk chart
    const chartData = tahunRange.map(tahun => jumlahKadaluwarsaByYear[tahun] || 0);
    const chartLabels = tahunRange;
    // Set nilai tahunAwal dan tahunAkhir di elemen HTML
    document.getElementById("tahunAwal").textContent = tahunAwal;
    document.getElementById("tahunAkhir").textContent = tahunAkhir;
</script>
<script>
    const tableTab = document.getElementById("tableTab");
    const chartTab = document.getElementById("chartTab");
    const tableContent = document.getElementById("tableContent");
    const chartContent = document.getElementById("chartContent");

    // Initialize the active tab
    tableTab.classList.add("active");
    tableContent.style.display = "block";

    // Function to switch tabs
    function switchTab(selectedTab, selectedContent) {
        // Remove active class from all tabs
        tableTab.classList.remove("active");
        chartTab.classList.remove("active");

        // Hide all tab contents
        tableContent.style.display = "none";
        chartContent.style.display = "none";

        // Add active class to the selected tab and show corresponding content
        selectedTab.classList.add("active");
        selectedContent.style.display = "block";
    }

    // Handle tab switching
    tableTab.addEventListener("click", () => {
        switchTab(tableTab, tableContent);
    });

    chartTab.addEventListener("click", () => {
        switchTab(chartTab, chartContent);
        const ctx = document.getElementById("barChart").getContext("2d");
        ctx.clearRect(0, 0, chartCanvas.width, chartCanvas.height);
        barChart.render();
    });

    // Loop through the table rows to extract data
    const tableRows = document.querySelectorAll("#tableContent tbody tr");
    tableRows.forEach(row => {
        const tahun = row.querySelector("td:nth-child(1)").textContent;
        const jumlahKadaluwarsa = parseInt(row.querySelector("td:nth-child(2)").textContent);
        chartLabels.push(tahun);
        chartData.push(jumlahKadaluwarsa);
    });

    chartLabels.splice(0, 1);
    chartData.splice(0, 1);

    // Initialize and render the pie chart
    // const ctx = document.getElementById("barChartCanvas").getContext("2d");
    // const pieChart = new Chart(ctx, {
    //     type: "pie",
    //     data: {
    //         labels: chartLabels,
    //         datasets: [{
    //             label: "Jumlah Kadaluwarsa",
    //             data: chartData,
    //             backgroundColor: "rgba(75, 192, 192, 0.2)",
    //             borderColor: "rgba(75, 192, 192, 1)",
    //             borderWidth: 1
    //         }],
    //     },
    //     options: {
    //         responsive: true,
    //         maintainAspectRatio: false
    //     }
    // });


    // Initialize and render the bar chart
    const ctx = document.getElementById("barChartCanvas").getContext("2d");
    const barChart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: chartLabels,
            datasets: [{
                label: "Jumlah Kadaluwarsa",
                data: chartData,
                backgroundColor: "rgba(75, 192, 192, 0.2)",
                borderColor: "rgba(75, 192, 192, 1)",
                borderWidth: 1,
            }],
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                },
            },
        },
    });
</script>
</body>
</html>
