<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Beranda</title>
</head>
<body>
<nav th:insert = "nav2.html :: nav('ngisi_sesuai_fitur_lu_(feature2)')"></nav>
<div class="d-flex justify-content-center">
  <h2 th:text="'Hello '+${#httpServletRequest.remoteUser}+'!'">Login as</h2>
</div>
<div class="d-flex justify-content-center">
  <div class="m-4">
    <div class="card border border-light">
      <div class="card-header text-white bg-primary mb3">
        <h2>WELCOME TO RUMAH SEHAT</h2>
      </div>
      <div class="card-body">
        <br>
        <h5 align ="center">List of features:</h5>
        <br>
      </div>


</body>
</html>
