<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <nav
    class="fixed flex w-full items-center justify-between py-2 px-20 bg-white/5 backdrop-blur-xl border-b border-gray-900/5 h-16"
    aria-label="Global"
    th:fragment="nav(activeTab)"
  >
    <div class="flex">
      <a href="/" class="-m-1.5 p-1.5 flex flex-row items-center space-x-3">
        <span class="sr-only">siFARMASI</span>
        <svg
          class="w-8 h-8"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_101_1313)">
            <path
              d="M17.6 0C18.48 0 19.2 0.72 19.2 1.6C19.2 3.312 18.816 4.944 18.12 6.4C17.016 8.728 15.136 10.616 12.8 11.72C11.344 12.416 9.72 12.8 8 12.8H6.4C6.584 12.8 6.768 12.784 6.952 12.752C9.088 12.392 10.928 9.928 11.944 6.4C12.368 4.928 12.656 3.28 12.76 1.512C12.808 0.664 13.504 0 14.352 0L17.6 0Z"
              fill="#0EA5E9"
            />
            <path
              d="M25.6 19.2C25.416 19.2 25.232 19.216 25.048 19.248C22.912 19.608 21.072 22.072 20.056 25.6C19.632 27.072 19.344 28.72 19.24 30.488C19.192 31.336 18.496 32 17.648 32H14.4C13.52 32 12.8 31.28 12.8 30.4C12.8 28.68 13.184 27.056 13.88 25.6C14.984 23.264 16.872 21.384 19.2 20.28C20.656 19.584 22.288 19.2 24 19.2H25.6Z"
              fill="#0EA5E9"
            />
            <path
              d="M32 14.352V17.6C32 18.48 31.28 19.2 30.4 19.2C28.68 19.2 27.056 18.816 25.6 18.12C23.264 17.016 21.384 15.128 20.28 12.8C19.584 11.344 19.2 9.71202 19.2 8.00002V6.40002C19.2 6.58402 19.216 6.76802 19.248 6.95202C19.608 9.08802 22.072 10.928 25.6 11.944C27.072 12.368 28.72 12.656 30.488 12.752C31.336 12.8 32 13.496 32 14.344V14.352Z"
              fill="#0EA5E9"
            />
            <path
              d="M12.8 24V25.6C12.8 25.416 12.784 25.232 12.752 25.048C12.392 22.912 9.928 21.072 6.4 20.056C4.928 19.632 3.28 19.344 1.512 19.248C0.664 19.2 0 18.504 0 17.656V14.408C0 13.528 0.72 12.808 1.6 12.808C3.32 12.808 4.944 13.192 6.4 13.888C8.736 14.992 10.616 16.872 11.72 19.208C12.416 20.664 12.8 22.288 12.8 24.008V24Z"
              fill="#0EA5E9"
            />
          </g>
          <defs>
            <clipPath id="clip0_101_1313">
              <rect width="32" height="32" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <p class="font-bold text-sky-600 text-xl">siFARMASI</p>
      </a>
    </div>
    <div class="flex p-1 rounded-xl bg-gray-900/5" th:if="${#authentication}">
      <a
        href="/user/manajemenUser"
        th:classappend="${activeTab == 'manageUsers' ? 'text-white bg-sky-400' : ''}"
        sec:authorize="hasAuthority('ADMIN')"
        class="px-6 py-2 rounded-lg text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-900/10"
      >
        Manage Users
      </a>
      <a
        href="/user/view/"
        th:classappend="${activeTab == 'viewUsers' ? 'text-white bg-sky-400' : ''}"
        sec:authorize="hasAuthority('ADMIN')"
        class="px-6 py-2 rounded-lg text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-900/10"
      >
        View Users
      </a>
      <a
        href="#"
        th:classappend="${activeTab == 'obatAlkes' ? 'text-white bg-sky-400' : ''}"
        sec:authorize="hasAuthority('APOTEKER')"
        class="px-6 py-2 rounded-lg text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-900/10"
      >
        Obat & Alkes
      </a>
      <a
        href="/mitra"
        th:classappend="${activeTab == 'mitra' ? 'text-white bg-sky-400' : ''}"
        sec:authorize="hasAuthority('ADMIN') or hasAuthority('APOTEKER')"
        class="px-6 py-2 rounded-lg text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-900/10"
      >
        Mitra
      </a>
      <a
        href="/resep/input-resep"
        th:classappend="${activeTab == 'resep' ? 'text-white bg-sky-400' : ''}"
        sec:authorize="hasAuthority('DOKTER') or hasAuthority('APOTEKER')"
        class="px-6 py-2 rounded-lg text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-900/10"
      >
        Resep
      </a>
      <a
        href="/obat-alkes/input-obat-alkes"
        th:classappend="${activeTab == 'stok' ? 'text-white bg-sky-400' : ''}"
        sec:authorize="hasAuthority('DOKTER') or hasAuthority('APOTEKER')"
        class="px-6 py-2 rounded-lg text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-900/10"
      >
        Stok Obat & Alkes
      </a>
    </div>
  </nav>
</html>
