<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head.html :: head">
    <title>Detail Obat dan Alat Kesehatan</title>
</head>
<body>
<div class="bg-white">
    <header th:insert="nav.html :: nav('feature5')"></header>
    <section class="container max-w-2xl p-20 mt-16">
        <h2 class="text-2xl font-semibold mb-4">Detail Obat dan Alat Kesehatan</h2>
        <div class="p-6 bg-gray-500/10 border rounded-2xl border-gray-500/20">
            <p><strong>Nama:</strong> <span th:text="${obatAlkes.nama}"></span></p>
            <p><strong>Stok:</strong> <span th:text="${obatAlkes.stok}"></span></p>
            <p><strong>Jenis:</strong> <span th:text="${obatAlkes.jenisSediaan}"></span></p>
            <p><strong>Kadaluwarsa:</strong> <span th:text="${#dates.format(obatAlkes.kadaluwarsa, 'yyyy-MM-dd')}"></span></p>
            <p><strong>Lokasi:</strong> <span th:text="${obatAlkes.lokasi}"></span></p>
            <a th:href="@{/obat-alkes/list-obatalkes}">Kembali ke Daftar</a>
        </div>
    </section>
</div>
</body>
</html>