<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head.html :: head">
    <title>Daftar Obat dan Alat Kesehatan</title>
</head>
<body>
<div class="bg-white">
    <header class="absolute inset-x-0 top-0 z-50"
            th:insert="nav.html :: nav('obatAlkes')">
    </header>
    <section class="py-20 mt-16">
        <h2 class="px-20 text-2xl font-semibold mb-4 flex justify-between items-center">Daftar Obat dan Alat Kesehatan
            <a href="/obat-alkes/add"
               class="flex justify-end pr-20 mb-4">
                <button class="text-white border border-sky-500 bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-8 h-8 flex items-center justify-center shadow-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                    </svg>
                </button>
            </a>
        </h2>
            <table class="border-collapse table-fixed w-full text-sm">
            <thead>
            <tr>
                <th class="font-medium p-4 pl-20 pb-3 text-gray-900 text-left">Nama</th>
                <th class="font-medium p-4 pl-20 pb-3 text-gray-900 text-left">Stok</th>
                <th class="font-medium p-4 pl-20 pb-3 text-gray-900 text-left">Jenis</th>
                <th class="font-medium p-4 pl-20 pb-3 text-gray-900 text-left">Kadaluwarsa</th>
                <th class="font-medium p-4 pl-20 pb-3 text-gray-900 text-left">Lokasi</th>
                <th class="font-medium p-4 pl-20 pb-3 text-gray-900 text-left">Aksi</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(listObatAlkes)}">
                <td colspan="6" class="text-center">
                    <img src="https://cdn3d.iconscout.com/3d/premium/thumb/empty-box-7860352-6318310.png?f=webp" alt="Empty State" class="mx-auto w-40 h-40" />
                    <p class="text-gray-500 mt-4">No Obat & Alat Kesehatan to display</p>
                </td>
            </tr>
            <th:block th:each="obatAlkes: ${listObatAlkes}" th:object="${obatAlkes}">
                <tr class="mitra-row border-t border-gray-300 transition-colors cursor-pointer hover:bg-gray-100">
                    <td class="relative p-4 pl-20 text-gray-800" th:text="${obatAlkes.nama}"></td>
                    <td class="relative p-4 pl-20 text-gray-800" th:text="${obatAlkes.stok}"></td>
                    <td class="relative p-4 pl-20 text-gray-800" th:text="${obatAlkes.jenisSediaan}"></td>
                    <td class="relative p-4 pl-20 text-gray-800" th:text="${#temporals.format(obatAlkes.kadaluwarsa, 'yyyy-MM-dd')}"></td>
                    <td class="relative p-4 pl-20 text-gray-800" th:text="${obatAlkes.lokasi}"></td>
                    <td class="p-4 pr-20 text-gray-800 flex">
                        <a
                                th:href="@{/obat-alkes/detail/{id}(id=${obatAlkes.id})}"
                                class="edit-button">
                        <button
                                type="button"
                                class="detail-button text-gray-800 border border-gray-200 bg-gray-100 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2"
                        >
                            Detail
                        </button>
                        </a>
                        <a th:href="@{/obat-alkes/delete/{id}(id=${obatAlkes.id})}"
                           class="delete-button"
                        >
                            <button type="button"
                                    class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5">
                                Delete
                            </button>
                        </a>
                    </td>
            </tr>
            </th:block>
            </tbody>
        </table>
    </section>

    <div
            class="absolute top-0 left-0 w-[90%] isolate pt-14 px-8 pointer-events-none">
        <div
                class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
                aria-hidden="true">
            <div
                    class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                    style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            ">
            </div>
        </div>
        <div
                class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
                aria-hidden="true">
            <div
                    class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                    style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            ">
            </div>
        </div>
    </div>
</div>
</body>
</html>