<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:insert="head.html :: head" th:with="title='Add User'">
</head>
<body>
<header
        class="absolute inset-x-0 top-0 z-50"
        th:insert="nav.html :: nav('feature5')"
></header>
<div class="bg-white-container">
    <div class="custom-background1">
        <div class="custom-background-shape"></div>
    </div>
    <div class="custom-background2">
        <div class="custom-background-shape"></div>
    </div>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2 class="text-6xl font-bold text-center text-gray-900 my-20">Tambah User Baru</h2>
                    <br>
                    <div
                            class="flex items-center justify-center bg-gray-500/10 border rounded-2xl border-gray-500/20 p-6"
                    >
                    <form th:action="@{/user/add}" th:object="${user}" method="POST"
                          class="z-10 p-12 grow border border-gray-500/20 rounded-lg bg-white shadow-xl">
                        <div class="mb-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900">Username</label>
                            <input type="text" name="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 shadow-sm"
                            required/>
                        </div>

                        <div class="mb-6">
                            <label class="text-xl">Name</label>
                            <input type="text" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 shadow-sm"
                            required/>
                        </div>

                        <div class="mb-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900">E-mail</label>
                            <input type="text" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 shadow-sm"
                            required/>
                        </div>

                        <div class="mb-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                            <input required type="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 shadow-sm"

                                   pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
                                   title="Password must contain numbers, uppercase letters, lowercase letters, and symbols and must have at least 8 characters"/>
                        </div>

                        <div class="mb-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900">Role</label>
                            <input th:if="${userRole == 'DOKTER'}" name="role" type="text" value="DOKTER" readonly>
                            <input th:if="${userRole == 'APOTEKER'}" name="role" type="text" value="APOTEKER" readonly>
                            <input th:if="${userRole == 'MANAGER'}" name="role" type="text" value="MANAGER" readonly>
                        </div>

                        <div class="mb-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900" for="created_at_timestamp">Created At:</label>
                            <input type="datetime-local" id="created_at_timestamp" name="created_at_timestamp" value=""
                                   disabled>
                        </div>

                        <div class="mb-6 flex justify-between">
                            <button type="submit"
                                    class="btn btn-primary py-2 px-4 rounded-lg bg-blue-400 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 text-white">
                                Submit
                            </button>
                            <a class="btn btn-primary py-2 px-4 rounded-lg bg-gray-400 hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-300 text-white" href="/">Kembali ke Home</a>
                        </div>
                    </form>
                    <script>
                        const createdInput = document.getElementById('created_at_timestamp');
                        const currentInstant = new Date().toISOString().slice(0, 16);
                        createdInput.value = currentInstant;
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
    <div
            class="absolute top-0 left-0 w-[90%] isolate pt-14 px-8 pointer-events-none"
    >
        <div
                class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
                aria-hidden="true"
        >
            <div
                    class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                    style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
            ></div>
        </div>
        <div
                class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
                aria-hidden="true"
        >
            <div
                    class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                    style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
            ></div>
        </div>
    </div>
</div>
</body>

</html>
