<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>RumahSehat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
<nav th:replace="nav2.html :: nav('ngisi_sesuai_fitur_lu_(feature2)')"></nav>
<div class="container">
    <h2>Manajemen User</h2>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Role</th>
            <th>Aksi</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role, iterationStatus : ${listRole}">
            <div th:if="${role == 'DOKTER' OR role == 'APOTEKER' OR role == 'MANAGER'}">
                <td th:text="${role}"></td>
                <td><a class="btn btn-primary" th:href="@{/user/view/} + ${role}">Lihat Daftar User </a></td>
            </div>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/">Kembali ke Home</a>
</div>
</body>

</html>