<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head th:insert="head.html :: head" th:with="title='List Users'"> </head>

  <body>
    <nav th:replace="nav.html :: nav('listUsers')"></nav>
    <div class="container">
      <br />
      <div th:switch="${userRole}">
        <h2 th:case="'DOKTER'">Daftar Seluruh DOKTER</h2>
        <h2 th:case="'APOTEKER'">Daftar Seluruh APOTEKER</h2>
        <h2 th:case="'MANAGER'">Daftar Seluruh MANAGER</h2>
      </div>
      <br />
      <div
        th:if="${userRole == 'DOKTER' OR userRole == 'APOTEKER' OR userRole == 'MANAGER'}"
      >
        <a class="btn btn-primary" th:href="@{/user/add/} + ${userRole}">
          Tambah User</a
        >
      </div>

      <br />

      <br />
      <table class="table">
        <thead>
          <tr>
            <th>No</th>
            <th>Username User</th>
            <th>Name User</th>
            <th>Email User</th>
            <th>Role User</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user, iterationStatus : ${listUser}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
            <td>
              <a
                class="btn btn-danger"
                th:href="@{/user/delete/} + ${user.username}"
                >hapus</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-primary" th:href="@{/user/manajemenUser}">Kembali</a>
    </div>
  </body>
</html>
