<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="head.html :: head" th:with="title='Mitra List'"> </head>
  <body>
    <div class="bg-white">
      <header
        class="absolute inset-x-0 top-0 z-50"
        th:insert="nav.html :: nav('mitra')"
      ></header>
      <section class="py-20 mt-16">
        <h2 class="px-20 text-2xl font-semibold mb-4">Mitra List</h2>
        <table class="border-collapse table-fixed w-full text-sm">
          <thead>
            <tr>
              <th class="font-medium p-4 pl-20 pb-3 text-gray-900 text-left">
                Name
              </th>
              <th class="font-medium p-4 pb-3 text-gray-900 text-left">
                Alamat
              </th>
              <th class="font-medium p-4 pb-3 text-gray-900 text-left">
                Jenis
              </th>
              <th class="font-medium p-4 pb-3 text-gray-900 text-left">
                Kontak
              </th>
              <th class="font-medium p-4 pb-3 text-gray-900 text-left">
                Tanggal Mulai Kerjasama
              </th>
              <th class="font-medium p-4 pr-20 pb-3 text-gray-900 text-left">
                Aksi
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <div
                th:if="${#lists.isEmpty(listMitra)}"
                class="text-center mt-8"
              >
                <img
                  src="https://cdn3d.iconscout.com/3d/premium/thumb/empty-box-7860352-6318310.png?f=webp"
                  alt="Empty State"
                  class="mx-auto w-40 h-40"
                />
                <p class="text-gray-500 mt-4">No Mitras to display</p>
              </div>
            </tr>
            <th:block th:each="mitra: ${listMitra}">
              <tr
                class="mitra-row border-t border-gray-300 transition-colors cursor-pointer hover:bg-gray-100"
              >
                <form
                  th:action="@{/mitra/edit/{id}(id=${mitra.id})}"
                  th:object="${mitra}"
                  method="POST"
                >
                  <td class="relative p-4 pl-20 text-gray-800">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6 stroke-current absolute left-8 top-1/2 -translate-y-1/2 transition-transform"
                      viewBox="0 0 24 24"
                      fill="none"
                    >
                      <path
                        d="M6 9L12 15L18 9"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <p
                      class="display px-2.5 h-5 w-full"
                      th:text="${mitra.nama}"
                    ></p>
                    <input
                      type="text"
                      class="edit hidden h-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 shadow-sm"
                      th:value="${mitra.nama}"
                      name="name"
                      required
                    />
                  </td>
                  <td class="p-4 text-gray-800 align-middle">
                    <p
                      class="display px-2.5 h-5 w-full"
                      th:text="${mitra.alamat}"
                    ></p>
                    <input
                      type="text"
                      class="edit hidden h-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 shadow-sm"
                      th:value="${mitra.alamat}"
                      name="alamat"
                      required
                    />
                  </td>
                  <td class="p-4 text-gray-800 align-middle">
                    <p
                      class="display px-2.5 h-5 w-full"
                      th:text="${mitra.jenis}"
                    ></p>
                    <input
                      type="text"
                      class="edit hidden h-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 shadow-sm"
                      th:value="${mitra.jenis}"
                      name="jenis"
                      required
                    />
                  </td>
                  <td class="p-4 text-gray-800 align-middle">
                    <p
                      class="display px-2.5 h-5 w-full"
                      th:text="${mitra.kontak}"
                    ></p>
                    <input
                      type="text"
                      class="edit hidden h-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 shadow-sm"
                      th:value="${mitra.kontak}"
                      name="kontak"
                      required
                    />
                  </td>
                  <td class="p-4 text-gray-800 align-middle">
                    <p
                      class="display px-2.5 h-5 w-full"
                      th:text="${mitra.tanggalKerjasama}"
                    ></p>

                    <input
                      type="date"
                      th:datetime="${#dates.format(tanggalKerjasama, 'yyyy-MM-dd')}"
                      class="edit hidden h-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 shadow-sm"
                      th:value="${mitra.tanggalKerjasama}"
                      name="tanggalKerjasama"
                      required
                    />
                  </td>
                  <td class="p-4 pr-20 text-gray-800 flex">
                    <button
                      type="button"
                      class="edit-button text-gray-800 border border-gray-200 bg-gray-100 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2"
                    >
                      Edit
                    </button>
                    <a
                      th:href="@{/mitra/delete/{id}(id=${mitra.id})}"
                      class="delete-button"
                    >
                      <button
                        type="button"
                        class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5"
                      >
                        Delete
                      </button>
                    </a>

                    <button
                      type="button"
                      class="cancel-button hidden text-gray-800 border border-gray-200 bg-gray-100 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2"
                    >
                      Cancel
                    </button>
                    <button
                      type="submit"
                      class="save-button hidden text-white bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2"
                    >
                      Save
                    </button>
                  </td>
                </form>
              </tr>
              <tr
                class="expanded-details hidden border-t border-t-gray-200 bg-gray-100 shadow-inner"
              >
                <td colspan="6">
                  <div class="mx-20 px-8 py-5">test</div>
                </td>
              </tr>
            </th:block>
            <tr class="border-t border-gray-300">
              <form
                th:action="@{/mitra/add}"
                th:object="${mitra}"
                method="POST"
              >
                <td class="p-4 pl-20 text-gray-800">
                  <input
                    type="text"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 shadow-sm"
                    name="name"
                    placeholder="Name Mitra"
                    required
                  />
                </td>
                <td class="p-4 text-gray-800 align-middle">
                  <input
                    type="text"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 shadow-sm"
                    name="alamat"
                    placeholder="Alamat Mitra"
                    required
                  />
                </td>
                <td class="p-4 text-gray-800 align-middle">
                  <input
                    type="text"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 shadow-sm"
                    name="jenis"
                    placeholder="Jenis Mitra"
                    required
                  />
                </td>
                <td class="p-4 text-gray-800 align-middle">
                  <input
                    type="text"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 shadow-sm"
                    name="kontak"
                    placeholder="Kontak Mitra"
                    required
                  />
                </td>
                <td class="p-4 text-gray-800 align-middle">
                  <input
                    type="date"
                    th:datetime="${#dates.format(tanggalKerjasama, 'yyyy-MM-dd')}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 shadow-sm"
                    name="tanggalKerjasama"
                    placeholder="Tanggal Mulai Kerjasama"
                    required
                  />
                </td>
                <td class="p-4 pr-20 text-gray-800 flex">
                  <button
                    type="submit"
                    class="text-white bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2"
                  >
                    Add
                  </button>
                </td>
              </form>
            </tr>
          </tbody>
        </table>
        <script>
          document
            .querySelectorAll(".edit-button")
            .forEach(function (editButton) {
              editButton.addEventListener("click", function () {
                var row = editButton.closest("tr");
                row.classList.add("editing");
                row
                  .querySelectorAll(".display")
                  .forEach(function (displayElement) {
                    displayElement.classList.add("hidden");
                  });
                row.querySelectorAll(".edit").forEach(function (editElement) {
                  editElement.classList.remove("hidden");
                });
                row.querySelector(".edit-button").classList.add("hidden");
                row.querySelector(".delete-button").classList.add("hidden");
                row.querySelector(".cancel-button").classList.remove("hidden");
                row.querySelector(".save-button").classList.remove("hidden");
              });
            });

          document
            .querySelectorAll(".save-button")
            .forEach(function (saveButton) {
              saveButton.addEventListener("click", function () {
                var row = saveButton.closest("tr");
                // Here you would send the updated values to the server.
                // For now, we'll just switch back to display mode.
                row.classList.remove("editing");
                row
                  .querySelectorAll(".display")
                  .forEach(function (displayElement) {
                    displayElement.classList.remove("hidden");
                  });
                row.querySelectorAll(".edit").forEach(function (editElement) {
                  editElement.classList.add("hidden");
                });
                row.querySelector(".edit-button").classList.remove("hidden");
                row.querySelector(".delete-button").classList.remove("hidden");
                row.querySelector(".cancel-button").classList.add("hidden");
                row.querySelector(".save-button").classList.add("hidden");
              });
            });

          document
            .querySelectorAll(".cancel-button")
            .forEach(function (cancelButton) {
              cancelButton.addEventListener("click", function () {
                var row = cancelButton.closest("tr");
                // Here you would send the updated values to the server.
                // For now, we'll just switch back to display mode.
                row.classList.remove("editing");
                row
                  .querySelectorAll(".display")
                  .forEach(function (displayElement) {
                    displayElement.classList.remove("hidden");
                  });
                row.querySelectorAll(".edit").forEach(function (editElement) {
                  editElement.classList.add("hidden");
                });
                row.querySelector(".edit-button").classList.remove("hidden");
                row.querySelector(".delete-button").classList.remove("hidden");
                row.querySelector(".cancel-button").classList.add("hidden");
                row.querySelector(".save-button").classList.add("hidden");
              });
            });

          // Get all mitra-row elements
          var mitraRows = document.querySelectorAll(".mitra-row");

          // Add click event listener to each mitra-row
          mitraRows.forEach(function (mitraRow) {
            mitraRow.addEventListener("click", function () {
              // Get the sibling expanded-details row
              var expandedDetailsRow = mitraRow.nextElementSibling;

              // Toggle the hidden class of the expanded-details row
              expandedDetailsRow.classList.toggle("hidden");

              // Select the nearest SVG element within the mitra-row
              var svgElement = mitraRow.querySelector("svg");

              // Apply the class of "rotate-180" to the SVG element
              svgElement.classList.toggle("rotate-180");
            });

            var buttons = document.querySelectorAll("button");

            // Add click event listener to each button
            buttons.forEach(function (button) {
              button.addEventListener("click", function (event) {
                // Stop the click event from bubbling up to the mitra-row
                event.stopPropagation();
              });
            });
          });
        </script>
      </section>
      <div
        class="absolute top-0 left-0 w-[90%] isolate pt-14 px-8 pointer-events-none"
      >
        <div
          class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
          aria-hidden="true"
        >
          <div
            class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
          ></div>
        </div>
        <div
          class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
          aria-hidden="true"
        >
          <div
            class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
            style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
          ></div>
        </div>
      </div>
    </div>
  </body>
</html>
